@import "tailwindcss";

@theme {
  --color-fuchsia-500: #d946ef;
  --color-fuchsia-600: #c026d3;
  --color-purple-600: #9333ea;
  --color-cyan-500: #06b6d4;
  --color-emerald-400: #34d399;
  --color-yellow-400: #facc15;
  
  --animate-pulse: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
  --animate-bounce: bounce 1s infinite;
  
  @keyframes pulse {
    0%, 100% { opacity: 1; }
    50% { opacity: .5; }
  }
  
  @keyframes bounce {
    0%, 100% { transform: translateY(-25%); }
    50% { transform: translateY(0); }
  }
}

body {
  background-color: #050505;
  color: white;
  font-family: system-ui, sans-serif;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}